<% page_title 'Privacy Policy' %>

<p>
  This Privacy Policy governs OshareK's policies and procedures on the gathering, use and disclosure of
  your information. OshareK receives your information through our website, SMS, APIs, applications, services,
  email and third-parties ('Services'). When using our Site you approve to the collection, transfer,
  manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy.
  Regardless the country that you reside in or create information from, your information may be stored by
  OshareK in any country where OshareK operates. 
</p> 
<p>
  If you have any questions or comments about this Privacy Policy, please use the contact us link. 
</p>
<h3>Information Collected Upon Registration</h3> 
<p>
  When you create or reconfigure a Osharek account, you
  disclose some personal information, such as your name, username, password, governorate, area and email
  address. Some of this information may be listed publicly on our Services, including on your profile page
  and in search results. Registration is not required in some of OshareK’s services, such as search, public
  user profiles and viewing lists. 
</p>
 
<h3>Information Collection and Use</h3> 
<p>
  You hereby approve that we may collect and use your information
  to provide and measure the use of our Services and improve them over time.
</p>

<h3>Additional Information:</h3>
<p>You may wish to make some specific information public, such as a short
  biography, your exact location, or a picture. You may customize your account with information such as a
  Mobile phone number or additional email addresses so that we can help you find the OshareK users you know.
  We may use your contact information to send you information regarding our Services or for marketing
  purposes whether to you or otherwise. You may unsubscribe from these messages by following the instructions
  contained within the messages or the instructions on our web site. However, you understand that you can’t
  opt-out from receiving critical emails such as alerts of critical updates and password reset as basic
  examples. If you email us, we may keep your message, email address and contact information to respond to
  your request. For the avoidance of doubt, the information described in this section may be entirely used at
  the sole discretion of OshareK.com . 
</p>

<h3>Posts, Following, Lists and other Public Information</h3>
<p>
  Our Services aim to help you share information with the world. Most of the
  information you submit is information you want to make public. Such information not only includes the
  messages you share and (the metadata) provided to posts and as submitted by your good self, but also the
  lists you create, the people you follow, and many other bits of information. Our default is to make the
  information you provide public but for some features we give you the options to have such information
  private if you so require. Your public information is broadly and immediately published. For example, your
  public posts are searchable by many search engines and are immediately delivered to a wide range of users
  and services. You should be cautious about your Public information at OshareK, which are not limited to
  your posts. 
</p>
<p>
  What you broadcast, post, publish or upload on OshareK may be viewed instantly all
  around the world. 
</p>
<h3>Location Information</h3>
<p>
  You duly realize that all of your posts are
  automatically associated with the location you specified upon registration or the currently selected
  location, you may change your location at any time, if you so require. In the future, OshareK may also save
  exact coordinates to help improve the site. 
</p>
<h3>Log Data</h3>
<p>
  Our servers automatically record
  information ('Log Data') created whenever you use the Site. Log Data may include information such as your
  IP address, browser type, the referring domain history, your mobile carrier, device and application IDs,
  and search terms. Other actions, such as interactions with our website, applications and advertisements,
  may also be included in Log Data. 
</p>
<h3>Links</h3>
<p>
  OshareK may keep track of how you interact
  with posts links across our services including third party services and clients by redirecting clicks or
  through other means. We do this to help improve our services and/or advertising, to be able to identify
  aggregate click statistics such as how many times a particular link was clicked on.
</p>
<h3>Cookies</h3>
<p>
  A cookie is a small data file we transfer to your computer's hard disk.
  OshareK may use both session cookies and persistent cookies to better understand how you communicate with
  our services, to monitor aggregate usage by our users and web traffic routing to our Site. You may set your
  browser, by editing its options, to stop accepting cookies or to notify you before accepting a cookie from
  the websites you visit. 
</p>

<h3>Third Party Services</h3>
<p>
  OshareK uses a variety of services
  hosted by third parties to help enhance our site and provided services, such as traffic monitoring tools.
  These services may gather information sent by your browser as part of a web page request, such as cookies
  or your IP request. 
</p>

<h3>Information Sharing and Disclosure</h3>
<p>
  We do not intentionally disclose
  your private information except as indicated in the following cases. 
</p>

<h4>With Your Consent</h4>
<p>
  OshareK may share or disclose your information upon your consent, such as when you use a third party web
  client or application to access your OshareK account. 
</p>

<h4>Service Providers</h4>
<p>
  We engage certain trusted third parties to perform functions and provide services to us. We may share your
  personal information with these third parties, but only to the extent necessary to perform their functions
  and provide their intended services, and only pursuant to their intended obligations of mirroring the
  protection of this privacy policy. 
</p>

<h4>Law</h4>
<p>
  We may disclose your information at any time
  if so requested by a proper judiciary body in compliance with applicable laws, regulation or to protect the
  safety of any person; to address fraud, security or technical issues; or to protect OshareK's rights or
  properties. 
</p>

<h4>Business Transfers</h4>
<p>
  In the event that OshareK is involved in a bankruptcy,
  merger, acquisition, reorganization or sale of assets or sale of this site itself, your information may be
  part of the package being sold or transferred within the transaction. The privacy commitment and policy
  shall apply to your information when transferred to the new entity. 
</p>

<h4>Non-Private or Non-Personal Information</h4>
<p>
  We may share or disclose your non-private and/or non-personal information,
  aggregated or otherwise, such as your public posts or the number of users who clicked on a particular link
  (even if only one did). 
</p>
  
<h4>Modifying Your Personal Information</h4>
<p>
  If you are a registered user
  of our Site, we shall provide you with tools to access or modify the personal information you provided to
  us and associated with your account. 
</p>
  
<h3>Our Policy Towards Children</h3>
<p>
  Our site is not targeted
  to persons under 13 years of age. If you become aware that your child has provided us with personal
  information without your consent, please use the contact us link.
</p>
<p>
  Osharek does not knowingly gather
  personal information from children under 13. As soon as we become aware that a child under 13 has provided
  us with personal information, we remove it and immediately terminate the child's account. 
</p>
  
<h3> Changes to this Policy</h3>
<p>
  OshareK may revise this Privacy Policy from time to time which shall always be
  available in this page. If we make a change to this policy that, in our sole discretion, is material, it
  shall be incorporated at this link. By continuing to access or use the Site after those changes become
  effective, you agree to be bound by the revised Privacy Policy 
</p>
<p>
  <em>Effective: January 25, 2012
  </em>
</p>
</div>
