<footer>
  <%= render_block do %>
	<%= link_to_nav t('resources.contact'), contact_path %>
	<%= link_to_nav t('resources.privacy'), privacy_path %>
  <% end %>
  <p class="copyright"><%= t('powered_by') %></p>
</footer>
