<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <%= link_to 'RailsYeast', root_path, :class => 'pull-left brand active' %>
    <div class="nav-buttons pull-right">
      <%= link_to t("login"), new_user_session_path, :class => "btn btn-primary"  %>
      <%= link_to t("register"), new_user_session_path, :class => "btn btn-primary"  %>
    </div>
  </div>
</div>
